*{

margin: 0;
padding: 0;
box-sizing: border-box;    

}

header{

 background-color: orangered;
  height: 83px;
}

footer{

  background-color: black;
}

.menù li {

  display: inline-block;
    
}

.no-unline{

text-decoration: none;

}





.container{
margin: 0 auto;
width: 80%;
display: flex;
padding-top: 2em;
padding-bottom: 2em;
justify-content: space-between;


}


.img-card{

max-width: 100%;
position: absolute;
top: 0;
left: 0;
}

.img-card-2{
max-width: 100%;
}

.card:hover .img-card{

z-index: -1;

}




.central{

flex-wrap: wrap;

}


.logo{


text-align: center;


}




.logo-bool{

width: 20%;

}





.heart{

 background-color: white;  
 width: 20px;
 padding: 5px;
 position: absolute;
 right: 0;
 top: 10px; 


}



.sostenibility{

background-color: green;   
position: absolute;
left: 50px;   
bottom: 77px; 
padding: 5px;
}

.pos-left{

    left: 0;
    bottom: 77px;


}



.discount{

 background-color: red;   
 position: absolute;
left: 0;
bottom: 77px;
padding: 5px;

}

.txt-under-img{

width: 100%;

}









.card{


margin-top: 10px;
position: relative;
width: 300px; 
min-height: 200px;

}


/* Regole Caratteri */

.text-white{
    color: white;
}

.text-red{
color: red;
}

.line-text{

 text-decoration: line-through;   
}


/* DEBUG */


.blue{

 background-color: blue;   
}




